@model Festival.Models.Organisateur

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ConnectionOrganisateur";
}

@{
    if (Convert.ToString(ViewData["Message"]) == "0")
    {
        <div class="alert alert-danger">
            <strong>Invalid login or password</strong>
        </div>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

     <div class="form-horizontal">
        <h4>ConnectionFestivalier</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class='row'>
            <div class='col-lg-2 '>
            </div>

            <div class='col-lg-8 col-xs-12'>
                <div class="text-center">
                    <h1>Entrez vos coordonnées</h1>
                </div>
                <br />


                <label>Login : </label><br />
                <input type="text" required class="form-control" name="Login">
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })<br /><br />
                <label>Mot de passe : </label><br />
                <input type="password" required class="form-control" name="Mdp">
                @Html.ValidationMessageFor(model => model.Mdp, "", new { @class = "text-danger" })<br /><br />

                <input class='btn btn-primary' type="submit" value="Submit"><br /><br />
                <br />

            </div>

            <div class='col-lg-2 '>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
